<!DOCTYPE html>

{% load static %}

<html lang="en">

    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/cover.css' %}" rel="stylesheet" media="screen">
        <title>Program Evaluator</title>
    </head>

    <body>
	<div class="site-wrapper">
	<div class="site-wrapper-inner">
	<div class="cover-container">
            <h1>Evaluate Software Quality Online!</h1>

	    <br /><br />

        <p>Input Language:&nbsp; 
        <label class="radio-inline"><input type="radio" name="optradio">C</label>
        <label class="radio-inline"><input checked="checked" type="radio" name="optradio">C++</label>

        <label class="radio-inline"><input type="radio" name="optradio">Python</label>
        </p>

<form id="code_form" method="post" action="">    {% csrf_token %}
	    <h3 class="pull-left"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
Enter code here</h3>

    {% for field in form %}
        {{ field }}
    {% endfor %}
        <!--<textarea class="form-control" rows="5" name="mytextbox"></textarea> 
-->
	    <br /><br />

            <h3 class="text-left"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Or specify a file</h3>
            <input type="file" name="datafile" size="40">

	    <br /><br />
	    <h3 class="pull-left"><span class="glyphicon glyphicon-console" aria-hidden="true"></span>
Terminal output</h3>
            <textarea class="form-control" rows="3" readonly>{{terminal_output}}</textarea> 
	    <br /><br />

  <div class="btn-group pull-left" role="group">
    <a type="button" href="/" class="btn btn-warning" role="button">
	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go Back
    </a>
  </div>



<div class="btn-group pull-right" role="group">
  <div class="btn-group" role="group">
    <button type="submit" class="btn btn-info" name="compile">Compile</button>
  </div>
  <div class="btn-group pull-right" role="group">
    <button type="submit" class="btn btn-success" name="execute">Execute</button>
  </div>
</div>

</form>

<!--
<form id="code_form" method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        {{ field }}
    {% endfor %}
    <button type="submit">Submit</button>
</form>
-->



	    <br /><br />

          </div>


	</div>


	</div>
	</div>

	<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

    </body>

</html>
